html {
  background-color: #c89e61;
}

body {
  font-size: 16px;
  font-family: Josefin Sans, sans-serif;
  margin: 0;
  background-color: #e4ebdd;
  color: #fff;
}

img {
  width: 100%;
}

h1 {
  font-size: 30px;
}

h1,
h2,
h3 {
  font-family: Cormorant Garamond;
  margin: 0;
}

button {
  border: none;
}

input,
textarea {
  border: 1px solid #1d3223;
  border-radius: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #1d3223;
  padding: 5px 0px;
  z-index: 99;
}

.topbar nav .active {
  color: #ffff;
}

.topbar nav a {
  text-decoration: none;
  color: rgb(255, 255, 255, 70%);
}

.nav-toggle {
  display: none;
}

.wrapper-link {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 535px;
}

.logo {
  width: 170px;
}

.button {
  background-color: #828282;
  display: inline-block;
  border-radius: 2rem;
  margin: 0;
  padding: 3px;
}

.topbar nav a:hover {
  color: #fff;
}

.banniere {
  height: 815px;
  width: 100%;
  background: no-repeat center center / cover url("img/image_girafes.png");
}

.text-hover {
  position: absolute;
  right: 3%;
  top: 50%;
  text-align: center;
  color: #fff;
  text-wrap: balance;
  width: 460px;
}

.title-accueil {
  color: #606c38;
  text-decoration: none;
  margin: 0;
  text-align: center;
}

.container-services {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-google {
  width: 60px;
}

.stars {
  width: 92px;
}

.client-avis {
  width: 50px;
}

.accueil-animals {
  margin: 60px 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.accueil-animals-reverse {
  margin: 60px 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.img-services {
  max-width: 100%;
}

.accueil-habitats {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.wrapper-description {
  text-align: center;
  color: #000;
  max-width: 400px;
}

.accueil-services p {
  color: #000;
  width: 370px;
  text-align: center;
}

.google-review {
  color: #000;
  text-align: center;
}

.google-review p {
  display: inline-block;
}

.review {
  margin: 0 120px;
  background-color: rgb(96, 108, 56, 26%);
  color: #000;
  padding: 15px 10px;
  margin-top: 20px;
}

.footer {
  margin-top: 70px;
  padding: 30px;
  padding: auto;
  background-color: #c89e61;
  color: #000;
}

.media {
  width: 48px;
}

.horaires {
  text-align: center;
}

.social-media {
  text-align: right;
}

.bar {
  background-color: #30523a;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 90px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.img-card {
  position: relative;
  width: 45%;
  text-align: center;
  margin-bottom: 20px;
}

.img-res {
  width: 100%;
}

.container a {
  text-decoration: none;
  color: rgb(255, 255, 255, 70%);
}

.container a:hover {
  color: #fff;
}

.container {
  padding: 0 5px 0px 5px;
}

.jungle {
  color: #000;
  text-align: center;
}

.explanation {
  padding-top: 50px;
  display: flex;
  gap: 50px;
  color: #000;
  text-align: center;
  align-items: center;
}

.descrpition {
  width: 100%;
}

.text-lions {
  margin: 10px;
  color: #000;
  width: 400px;
  text-align: center;
}

.animals {
  margin: 10px;
  text-align: center;
  color: #000;
}

.conatainer-animals {
  margin: 5%;
  justify-content: space-between;
  display: flex;
}

.wrapper-img {
  width: 100%;
}

.container-desc-animal {
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 45px;
  padding: 10px;
}

.img-animal-desc {
  display: flex;
  align-items: stretch;
  width: 800px;
}

.img-main {
  height: 100%;
}

.img-side {
  padding-right: 20px;
  text-align: center;
  width: 30%;
}

.img-side img {
  border-radius: 30px;
  width: 80%;
}

.text-desc-animal {
  display: block;
  padding-left: 80px;
}

.contact {
  color: #000;
  margin-left: 70px;
}

.pseudoinput {
  padding-bottom: 50px;
}

textarea {
  width: 440px;
  height: 100px;
}

.container-connexion {
  padding-top: 150px;
}

.connexion h1 {
  text-align: center;
  padding: 50px 80px;
  font-size: 36px;
}

.connexion {
  width: 500px;
  margin: 0 auto 0 auto;
  padding: 0 30px 30px 30px;
  background-color: #fff;
  color: #000;
}

.password {
  padding-top: 50px;
}

.button-co {
  color: #ffff;
  text-decoration: none;
  background-color: #828282;
  display: inline-block;
  border-radius: 2rem;
  margin: 0;
  padding: 3px;
  margin-top: 8%;
  margin-left: 40%;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .explanation {
    flex-direction: column;
  }

  .card p {
    padding: 0 5px;
  }
  .img-restaurant {
    width: 50%;
  }
  .review {
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .text-hover {
    top: 28%;
  }
}

@media screen and (max-width: 800px) {
  .nav-toggle {
    display: block;
  }
  .wrapper-link {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .accueil-animals {
    flex-direction: column;
  }

  .accueil-animals-reverse {
    flex-direction: column-reverse;
  }

  .text-desc-animal {
    flex-direction: column;
  }

  .img-side {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .img-card {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 13px;
  }
  .banniere {
    height: 500px;
  }
  .text-hover h1 {
    font-size: 15px;
  }
  .text-hover {
    top: 30%;
    font-size: 13px;
    width: initial;
  }
  .media {
    width: 11%;
  }
}

@media screen and (max-width: 537px) {
  .connexion {
    width: auto;
  }

  .contact textarea {
    width: 80%;
  }
}
